fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-text-splitters
langchain_groq
langchain_community
pypdf
groq
langgraph
yt_dlp
faiss-cpu
python-multipart
langchain_core
langchain_groq
langchain_text_splitters
langchain_huggingface
sentence-transformers
boto3
duckduckgo-search
wikipedia
arxiv
ddgs
youtube-transcript-api
torchvision
pillow
pytesseract